/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00A27F;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #68C0BD;
  }
   
  .grid-mapa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 500px;
    height: 100%;
  }
@media (max-width: 360px) {
    #myBtn {
      visibility: hidden;
    }
  }
  @media (max-width: 412px) {
    #myBtn {
      visibility: hidden;
    }
  }
h6{
    font-weight: bold;
    color: #00A27F;
  }
  #tarjeta{    
    width: 400px;
  }
  @media (max-width: 360px) {
    #tarjeta {
      width: 300px;
    }
  }
  
  @media (max-width: 412px) {
    #tarjeta {
      width: 390px;
    }
  }
  .modal-title{
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
  }
  #listado{
    padding-top:10px;
    padding-bottom: 10px;
    padding: 8px 10px;
    border-radius: 10px;
   }
   @media (max-width: 360px) {
    #listado {
      width: 80px;
      height: 40px;
    }
  }
  @media (max-width: 412px) {
    #listado {
      width: 80px;
      height: 40px;
    }
  }

  #tablas{
    width: 550px;
  }
  @media (max-width: 360px) {
    #tablas{
      width: 340px;
    }
  }
  @media (max-width: 412px) {
    #tablas{
      width: 380px;
    }
  }
  /*
   colores que se pueden usar: 
  verde:  #00A27F 
  verde claro: #68C0BD 
  celeste: #2290C7 
  violeta: #994887 
  violeta claro: #BE87B4 
  rosa: #D85C76   
  rosa claro: #EE9491
  gris oscuro: #373737
  gris claro: #EAEEE2
  
  */
